{% extends 'base/base.html' %}

{% block content %}
<div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>Listado de Clientes <a href="/persona/nuevo"><button class="btn btn-success">Nuevo</button></a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="table-responsive">
            <table class="table table-striped tabled-bordered tabled-condesed table-hover">
              <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>RIF</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Opciones</th>
              </thead>
             {% if persona %}
             {% for pers in persona %}
              <tr>
                <td>{{ pers.id_cliente }}</td>
                <td>{{ pers.nombre_cliente }}</td>
                <td>{{ pers.tipo_documento }} - {{ pers.num_documento }}</td>
                <td>{{ pers.telefono }}</td>
                <td>{{ pers.correo }}</td>
                <td>
                  <a href="/persona/editar/{{ pers.id_cliente }}"><button class="btn btn-warning">Editar</button></a>
                  <a href="/persona/eliminar/{{ pers.id_cliente }}" data-target="#modal-delete-{{ pers.id_cliente }}" data-toggle="modal"><button class="btn btn-danger">Eliminar</button></a>
                </td>
              </tr>
              {% include 'persona/personaDelete.html' %}
              {% endfor %}
              {% else %}
              <h1> No hay registros de clientes</h1>
              {% endif %}
            </table>
          </div>
        </div>
    </div>
{% endblock %}
