
<div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-detalle-{{ pers.id_cliente }}">
    <div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
				<h4 class="modal-title">Detalle Cliente</h4>
			</div>
			<div class="modal-body">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="tipo_cliente">tipo de cliente</label>
                        <input type="text" class="form-control" value="{{pers.tipo_cliente}}" name="tipo_cliente" disabled>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="nombre_cliente">cliente</label>
                        <input type="text" class="form-control" value="{{pers.nombre_cliente}}" name="nombre_cliente" disabled>           
                    </div>
                </div>  
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
                    <div class="form-group">
                        <label for="tipo_documento">doc.</label>
                        <input type="text" class="form-control" value="{{pers.tipo_documento}}" name="tipo_documento" disabled>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                        <label for="num_documento"> Nro. RIF</label>
                        <input type="text" class="form-control" value="{{pers.num_documento}}" name="num_documento" disabled>
                    </div>
                </div>  
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" value="{{pers.direccion}}" name="direccion" disabled>

                    </div>
                </div>  
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" value="{{pers.telefono}}" name="telefono" disabled>

                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" class="form-control" value="{{pers.correo}}" name="correo" disabled>
                    </div>
                </div>              				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>